/*-----------------Display mensagem--------------------*/
.displayMensagem{
    margin-left:20%;
    margin-top:10%;
}
.imgGerencia{
    width:70%;
    height:60%;
    margin-bottom:6%;
}
.textH{
    margin-left:10%;
}
h1{
    text-align: center;
    margin-right:55%;
}
.spanAlerta{
    color:rgb(254,103,0);
    font-size:1.2em;
    font-weight: bold;
    margin-left:1%;
}