body{
    overflow-x: hidden;
}
.imgLogin{
    width:30%;
    height:92%;
    margin-top:2%;
    margin-left:7.5%;
}
span,input{
    display: block;
    margin-top:2%;
}
.boxFormulario{
    margin-left:12%;
    margin-top:3%;
}
span{
    color:rgb(254,103,0);
}
input{
    border:0.06em solid rgb(254,103,0);
    padding:0% 2%;
    border-radius:1em;
}
input:focus{
    outline:none;
}
.checkCadastro{
    width:20%;
    margin-left:2%;
    margin-top:6%;
    border:1px solid transparent;
    border-radius:10px;
    padding:0.5% 1%;
    background-color: rgb(254,103,0);
    color:white;
}
.checkCadastro:hover{
    color: rgb(254,103,0);
    background-color:white;
    border:0.06em solid rgb(254,103,0);
    transition:1s;
    -o-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.spanAlerta{
    color:rgb(254,103,0);
    font-size:1em;
    font-weight: bold;
    margin-left:12%;
}
/*---------Funcionalidades que são liberadas para qualquer membro (cadastro e visualização de ligações)------------*/
.modal-header{
    background-color:rgb(254,103,0);
    color:white;
    font-weight: bold;
}
.dismiss{
    color:white;
}
input{
    margin-top:2%;
    margin-left:4%;
    margin-bottom:2%;
    color:rgb(254,103,0);
}
#boxInputCadLigacao>div>span{
    color:rgb(254,103,0);
}
::-webkit-input-placeholder {
    color:rgb(254,103,0);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color:rgb(254,103,0);
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color:rgb(254,103,0);
 }
 
 :-ms-input-placeholder {  
    color:rgb(254,103,0);
 }
 #btn-cad-ligacao{
     margin-top:12%;
     margin-left:40%;
     margin-bottom:4%;
}
.modal-body {
    width: 100%;
    overflow-x: auto;
}
tbody>tr>td{
    font-size:1.2em;
    border-collapse: collapse;
}